* {
	margin: 0;
	font-family: 'Fira Code', monospace;
	background: #171060;
	color: white;
}

/* NAVBAR STYLING */

body {
	overflow-x: hidden;
	padding-bottom: 20px;
}

nav {
	color: white;
	top: 0;
	width: 100%;
	z-index: 99;
	position: fixed;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 65px;
}

.navbar h1 a {
	font-family: 'Fira Code', monospace;
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	list-style: none;
}

.navbar a {
	color: white;
	text-decoration: none;
}

/* PAGE STYLING */
.content {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.page_header {
	margin: 60px;
	text-align: center;
	font-size: larger;
}

.language-list {
	margin-top: 20px;
	width: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}

.language-list a {
	background: #171060;
	padding: 20px;
	border-radius: 5px;
	border: 5px black;
	box-shadow: 2px 2px 2px 3px black;
	text-decoration: none;
	color: white;
}

.language-list a h1 {
	text-align: center;
}

.language-list a p {
	margin-top: 10px;
}

.recommender_link {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.recommender_button {
	font-weight: bold;
	text-decoration: none;
	border-radius: 5px;
	box-shadow: 2px 2px 2px 3px black;
	padding: 10px;
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* TODO: NOT WORKING */
.submit_button {
	font-size: large;
	background-color: #4b1b8b;
	border-radius: 5px;
	border: 2px solid black;
	cursor: pointer;
}

input[type='radio'] {
	display: none;
}

label {
	font-weight: bold;
	cursor: pointer;
	padding: 10px 20px;
	border: 5px solid black;
	border-radius: 10px;
	margin: 5px;
	display: inline-block;
}

input[type='radio']:checked + label {
	background-color: #4b1b8b;
	cursor: default;
	color: black;
}

.home_page {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.home_page_info {
	width: 40%;
}

@media only screen and (max-width: 1280px) {
	.language-list {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 1024px) {
	.navbar ul {
		width: 50%;
	}

	.home_page {
		flex-direction: column;
		align-items: center;
	}

	.home_page_info {
		width: 75%;
		margin-bottom: 20px;
	}
}

@media only screen and (max-width: 870px) {
	.language-list {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 580px) {
	.language-list {
		grid-template-columns: auto;
	}

	.recommender_link {
		flex-direction: column;
	}

	.recommender_prompt {
		text-align: center;
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 475px) {
	.language-list {
		grid-template-columns: auto;
	}
}
