* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

/* NAVBAR STYLING */

nav {
	color: white;
	top: 0;
	width: 100%;
	z-index: 99;
	position: fixed;
	background: #564787;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 65px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	list-style: none;
}

.navbar a {
	color: white;
	text-decoration: none;
}

/* PAGE STYLING */
.content {
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
}

.page_header {
	margin: 60px;
	text-align: center;
	font-size: larger;
}

.language-list {
	width: 100%;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: auto auto;
}

@media only screen and (max-width: 1024px) {
	.navbar ul {
		width: 50%;
	}

	.language-list {
		grid-template-columns: auto auto auto;
	}
}

@media only screen and (max-width: 580px) {
	.language-list {
		grid-template-columns: auto auto;
	}
}

@media only screen and (max-width: 475px) {
	.language-list {
		grid-template-columns: auto;
	}
}

.language-list div {
	background: #9987d6;
	padding: 10px;
	border-radius: 5px;
}

.language-list div h1 {
	text-align: center;
}

.language-list div p {
	margin-top: 10px;
}
