* {
	margin: 0;
}

/* NAVBAR STYLING */

nav {
	font-family: 'Montserrat', sans-serif;
	color: white;
	top: 0;
	width: 100%;
	z-index: 99;
	position: fixed;
	background: #564787;
}

.navbar {
	padding-left: 5%;
	padding-right: 5%;
	position: relative;
	z-index: 4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 65px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
	list-style: none;
}

.navbar a {
	color: white;
	text-decoration: none;
}

/* PAGE STYLING */
.content {
	margin-top: 15px;
	margin-left: 15px;
}
