{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}About Us{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="container">
		<div class="bio_grid">
			<div>
				<h3 style="margin-bottom: 15px;">Callum Irving</h3>
				<p>Hey, I'm Callum! My role in this project was to develop the backend and HTML templates. My programming experience inclues full stack development and development for Raspberry Pi as well as desktop and console applications. My hobbies include music and mountain biking.</p>
			</div>
			<div>
				<h3 style="margin-bottom: 15px;">Aviral Gupta</h3>
				<p>I'm Aviral and I mainly know Java but I also know some Python. Along with Ellie, I created a design template of the website and I also found the resources for you to use. In my free time I like to play basketball and ultimate Frisbee with my friends and I like to ski.</p>
			</div>
			<div>
				<h3 style="margin-bottom: 15px;">Yash Sheth</h3>
				<p>Hi, my name is Yash. I like to play sports with my friends, and in my free time, I like to practice programming. For this project, I worked on the backend. I also developed the script for the demo video, and also worked on the essay aspect of the project.</p>
			</div>
			<div>
				<h3 style="margin-bottom: 15px;">Ellie Kim</h3>
				<p>I'm Ellie and I can design using mainly adobe XD but for this program I used figma. I created a prototype of the website with Aviral as well as adding details and descriptions on the website. I'm a competitive swimmer and a cellist who also enjoys baking as well as playing the guitar in my free time.</p>
			</div>
		</div>
	</div>
{% endblock %}