<!DOCTYPE html>
<!-- TODO: replace project name with actual project name-->
<title>{% block title %}{% endblock %} - PROJECT NAME</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<nav>
	<!--TODO: replace with project name-->
	<h1>PROJECT NAME</h1>
	<ul>
		<!--TODO: make navbar-->
	</ul>
</nav>
<section class="content">
	<header>{% block header %}{% endblock %}</header>
	{% for message in get_flashed_messages() %}
		<div class="flash">{{ message }}</div>
	{% endfor %} {% block content %}{% endblock %}
</section>
