{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Home{% endblock %}</h1>
{% endblock %}

{% block content %}
	<div class="home_page">
		<div class="home_page_info">
			<h1 style="text-align: center; padding-bottom: 20px;">Welcome to print("Start")</h1>
			<p style="line-height:2">print(“Start”) is the one stop shop for beginners to learn and experience the joy of coding. Offering 8 different types of programming languages, find the one that suits you best and start right away. Don’t know which language to pick? print(“start”) offers a recommender where you only need to answer a few questions to find out which of the programming language is just right for you! Now, get ready to start typing up those codes like a true expert in no time with print(“start”)!</p>
		</div>
		<img src="static/coding_image.svg" alt="coding image"/>
	</div>
{% endblock %}