{% extends 'base.html' %}

{% block header %}
	<h1 style="display: none;">{% block title %}Home{% endblock %}</h1>
	<h1>Welcome to print("Start")</h1>
{% endblock %}

{% block content %}
	<div class="home_page">
		<div class="home_page_info">
			<p style="line-height:2">print(“Start”) is the one stop shop for beginners to learn and experience the joy of coding. Offering learning resources for a variety of programming languages, find the one that suits you best and start right away. Don’t know which language to pick? print(“start”) offers a recommender where you only need to answer a few questions to find out which of the programming language is just right for you! Now, get ready to start coding like a true expert in no time with print(“start”)!</p>
		</div>
		<img src="static/coding_image.svg" alt="coding image"/>
	</div>
{% endblock %}